# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Cache
.cache
.parcel-cache

# Logs
*.log

# Environment
.env
.env*.local

# Misc
.DS_Store
*.pem
coverage
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
